body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  display: flex;
}

#searchInput {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: none;
}

#searchButton {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

ul.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

ul.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video {
  flex: 1 1 300px;
}

.video a {
  display: block;
  text-decoration: none;
  color: #000;
}

.video img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.video h3,
.video p {
  margin: 10px 0;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #333;
  }
  
  .login-link {
    text-align: center;
    margin-top: 10px;
  }
  